main {
  background-image: url(https://img.freepik.com/premium-vector/funny-shiba-inu-with-some-different-expressions-orange-colour-background-flat-pattern-design_607052-64.jpg?w=2000);
  background-size: cover;
}

h1 {
  text-align: center;
  color: orange;
  text-shadow: 10px 0 20px;
}

header div {
  text-align: center;
}

.link {
  border: 3px solid orange;
  background-color: orange;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.link:hover {
  border: 3px solid white;
  background-color: white;
  color: orange;
  text-decoration: none;
}

img {
  width: 380px;
  height: 280px;
  border-radius: 20px;
}

.pictures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.pic1 {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px;
  text-align: center;
}

.pic2 {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px;
  text-align: center;
  width: 380px;
  word-wrap: break-word;
}

.pic3 {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px;
  text-align: center;
}

.caption {
  color: white;
  background-color: orange;
}

.footer-info {
  background-color: hsla(0, 0%, 83%, 0.45);
  text-align: center;
}

.partners-link {
  text-align: center;
}
